<div id="player_zone">
  <%= button_to (t 'zoom_in'), :action => "zoom_in", :class => "btn btn-large btn-primary" %>
  <%= button_to (t 'zoom_out'), :action => "zoom_out", :class => "btn btn-large btn-primary" %>
  <%= button_to (t 'exit'), :action => "exit", :confirm => (t 'sure'), :class => "btn btn-large btn-primary" %>
</div>
